@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --awd: 0px 10px 15px 0px rgba(151, 151, 151, 0.08);
  --ws: 0px 14px 27px 0px rgba(0, 0, 0, 0.05);
  --ww: 0px -0.19370795786380768px 0.8578495383262634px 0px rgba(0, 0, 0, 0.02),
    0px -0.4655071496963501px 2.0615315437316895px 0px rgba(0, 0, 0, 0.03),
    0px -0.8765086531639099px 3.881680965423584px 0px rgba(0, 0, 0, 0.04),
    0px -1.5635416507720947px 6.924255847930908px 0px rgba(0, 0, 0, 0.04),
    0px -2.9244327545166016px 12.951059341430664px 0px rgba(0, 0, 0, 0.05);

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
